* {box-sizing: border-box;}

body { 
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  
}

.header {
  overflow: hidden;
  background-color: darkturquoise;
  padding: 20px 10px;
  position: relative;
  top: 0;
  width: 100%;
  border-bottom: 1px solid floralwhite;
}
a.logo {
  font-family: cursive;
  text-shadow: 4px 1px rgb(220, 241, 220);
  size: 51px;
  
}

.menubar ul.menu {
  display: contents;
  list-style-type: none;
  text-align: center;
}
.bar a {
  text-decoration: none;
  color: aliceblue;
}
.header img {
  height: 77px;
  width: 86px;
}
element.style {
  background: aquamarine;
}

.header a {
  float: left;
  color: papayawhip;
  text-align: center;
  padding: 11px;
  text-decoration: none;
  font-size: 13px;
  /* line-height: 22px; */
  border-radius: 16px;
}

.header a.logo {
  font-size: 32px;
  font-weight: bold;
  color: blue;
  border: 1px solid transparent;
}

.header a:hover {
  background-color: #bbeeae;
  color: black;
}
.header a.logo:hover {
  background-color: #ddd;
  border-radius: 30px 6px;
  border: 1px solid greenyellow;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 600px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
.front {
  position: relative;
  background: darkturquoise;
  
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  padding: 100px 0px 1px;
}

.speakeng {
  display: flex;
  width: 103%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(engback.jpg);
  margin-left: -21px;
  filter: blur(5px);
  position: fixed;
  z-index: -1;
}
#About {background-color: orange;}
.mySlides.fade img{height: 435px;}



.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}
div#Contact {
  background: blue;}

  
  .eng {
    width: 100%;
    height: 46vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eng h1 {
  font-size: 120px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: PaleGoldenRod;
  outline: none;
  text-align: center;
}

.eng h1:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */

.text {
    color:whitesmoke;
    font-size: 29px;
    position: absolute;
    bottom: 4px;
    width: 15%;
    text-align: center;
    background: #e6cb3acf;
    border-bottom-right-radius:24px;
    
  }
  
  .text1 {
    text-align: center;
    color: whitesmoke;
    font-size: 39px;
    border-radius: 9px;
    padding-top: 87px;
}
.search-container input[type=text] {
  background: white;
}
.search-container {
  background: white;
    display: flex;
    border-radius: 84px;
    width: 44%;
    margin-left: 28%;
    margin-top: 61px;
}
.searchicon {
  display: flex;
  font-size: 43px;
  color: aqua;
  padding: 2px 11px;
}

.search-container button {
  padding: 3px 9px;
  margin-right: 0px
px
;
  background: border-box repeating-linear-gradient(90deg, #0099ffba, transparent 120px);
  font-size: 28px;
  background-color: chartreuse;
  border: none;
  cursor: pointer;
  color: bisque;
  border-radius: 36px;
  right: 76px;
}
::placeholder {
  color: gainsboro;
}
.search-container input, textarea {
  width: 92%;
  min-height: 10px;
  max-height: 89px;
  border-radius: 20px;
  background-color: #f7f7f7;
  outline: none;
  border: none;
  box-shadow: none;
  font-size: 15px;
  font-weight: 500;
  color: #7a7a7a;
  padding: 15px;
}
styled-input input, textarea{  
      width: 67%;
  min-height: 123px;
  max-height: 195px;
  border-radius: 20px;
  background-color: cadetblue;
  outline: none;
  border: none;
  box-shadow: none;
  font-size: 32px;
  font-weight: 500;
  color: #7a7a7a;
  padding: 15px;
  margin-bottom: 30px;
}
.page2 {
  background-color: gold;
  height: 422px;
  border-bottom: 12px;
  margin-bottom: 54px;
  border-bottom-left-radius: 57px;
  border-bottom-right-radius: 57px;
}
/* Number text (1/3 etc) */
.numbertext {
  color: blanchedalmond;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: #555;
}
.text a{text-decoration:none;
  color: white;

}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  margin-top: -52px;
}


@keyframes fade {
  from {opacity: .1} 
  to {opacity: .8}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


.comp {
  display: flex;
  margin-top: -52px;

}
.comdis {
  margin-left: 16px;
  line-height: 44px;
}
.comdis p {
  background: brown;
  font-size: large;
  font-family: 'FontAwesome';
  border-radius: 42px;
  text-align: center;
}
.comdis h1 {
    background: black;
    font-size: 37px;
    border-radius: 8px;
    width: 99%;
    text-align: center;
    border-radius: 5px 76px;
}
ul.mainul {
  display: contents;
  list-style-type: none;
  text-align: center;
}
.mainmenu {
  display: flex;
  overflow: hidden;
}



.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 1.2s; /* Animation */
}
.card:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.container {
  padding: 0 12px;
}
.row {
  position: relative;
  width: 78%;
  left: 10%;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.spclbtn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #ecc308;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.card img {
  vertical-align: middle;
  block-size: 223px;
}
.spclbtn:hover {
  background-color: #555;
  font-size: 25px;
}
p.special-class {
  text-align: center;
  color: black;
  font-family: fantasy;
  text-decoration: overline;
  font-size: 25px;
}

p.special-class:hover {
  background-color: rgba(244, 246, 247, 0.034);
  text-decoration:underline;
}


@media only screen and (max-width: 600px) {
  .mainmenu {
    display: grid;
  }
}
@media only screen and (max-width: 600px) {
  .contactarea {
    display: grid;
  }
}

.fb {
  background-color: #3B5998;
  color: white;
}
.twitter{background-color: #80e0e4;
color: white;}
.google{background-color: #df2316;
  color: white;}

  

.contactarea {
  display: flex;
  padding: 58px;
  background-color: skyblue;
  /* width: 68%; */
}
.sndbtn a {
  color: azure;
  background-color: orange;
  width: 17%;
  border-radius: 39px;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  padding: 11px;
}

.sndbtn a:hover {
  background-color: #45a049;
}
.col {
  width: 27%;
  /* display: inline-table; */
  background: gold;
  border-radius: 33px;
  /* border-left: 3px solid black; */
  margin-left: 29px;
}
.sndbtn {
  height: 17px;
}
.col a {
  font-size: 21px;
  text-align: center;
  text-decoration: auto;
  font-family: cursive;
  margin: 5px;
}
.col li {display: inline-block;}
.conttext {
  text-transform: uppercase;
  color: #1f272b;
  border-bottom: 3px solid #eee;
  margin-bottom: 29px;
  padding-bottom: 0px;
  font-size: 18px;
  font-weight: 200;

}

.contactus{
  border-radius: 46px;
  background-color: white;
  width: 73%;
  text-align: center;
}

.styled-input input[type=text] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 27px;
  box-sizing: border-box;
  background: darkgray;
  font-size: 17px;
}
section4#contactme {
  text-align-last: center;
}
section4#contactme {
  padding: 6px;
  /* opacity: 0.5; */
}
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 0px 35px 4px 21px;
  background-image: url(./image/footer.jpg);
  size-adjust: 100%;
}

  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-size: 25px;
    background: antiquewhite;
    border-radius: 31px;

}
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
    text-align: center;
}
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #eee7e7;
}
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: white;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }

  .col ul li {
    display: table-caption;
    border-bottom: 1px solid oldlace;
    padding-bottom: 21px;
    text-align-last: auto;
    padding: 8px;
    overflow: auto;
}
section5 {
  background-image: url(./image/footer.jpg);
}
.first-box {
  position: absolute;
  z-index: 2;
  background: aqua;
  width: 37%;
  left: 59%;
  top: 551px;
  height: 279px;
  border-radius: 53px;
  animation-name: example3;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-fill-mode: backwards;
}
@keyframes example3{
  0% {
    left: 0%;
  }
  100% {
    right: 100%;
  }
}
.second-box {
  position: absolute;
  z-index: 3;
  background: coral;
  width: 32%;
  left: 69px;
  top: 439px;
  height: 284px;
  text-align: inherit;
  border-radius: 30px;
  animation-name: example;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: backwards;
}
@keyframes example{
  0% {
    left: 0%;
  }
  100% {
    right: 150px;
  }
}
.third-box {
  position: absolute;
  z-index: 3;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(red, yellow);
  width: 35%;
  left: 446px;
  top: 498px;
  height: 278px;
  border-radius: 55px;
  box-shadow:2px 7px 5px lightblue;
  animation-name: example2;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}
@keyframes example2{
  0% {
    left: 0%;
  }
  100% {
    right: 250px;
  }
}


.animatetext1 {
  display: inline-block;
  animation: slide-left 5s ease forwards;
  position: relative;
  color: antiquewhite;
  margin-left: -150px;
}

@keyframes slide-left {
  /* use % to specify the animation at different stages (in this case, 0% and 100%) */
  0% {
    transform: translateX(0%);
  }
  100% {
    /* adjust the value to control how much the text moves */
    transform: translateX(70%);
  }
}
.animatetext1 a {
  text-decoration: none;
  color: darkred;
  font-size: 21px;
  font-family: cursive;
  background: gold;
  border-radius: 4px;
}
.animatetext2 {
  display: inline-block;
  animation: slide-left 5s ease forwards;
  position: relative;
  color: antiquewhite;
  margin-left: -116px;
  padding: 1px 4px;
}

@keyframes slide-left {
  /* use % to specify the animation at different stages (in this case, 0% and 100%) */
  0% {
    transform: translateX(0%);
  }
  100% {
    /* adjust the value to control how much the text moves */
    transform: translateX(70%);
  }
}
.animatetext2 a {
  text-decoration: none;
  color: darkred;
  font-size: 21px;
  font-family: cursive;
  background: gold;
  border-radius: 4px;
}
.animatetext3 {
  display: inline-block;
  animation: slide-left 5s ease forwards;
  position: relative;
  color: antiquewhite;
  margin-left: -233px;
}
@keyframes slide-left {
  /* use % to specify the animation at different stages (in this case, 0% and 100%) */
  0% {
    transform: translateX(0%);
  }
  100% {
    /* adjust the value to control how much the text moves */
    transform: translateX(70%);
  }
}
.animatetext3 a {
  text-decoration: none;
  color: darkred;
  font-size: 21px;
  font-family: cursive;
  background: gold;
  border-radius: 4px;
}
.animatetext2 p {
  width: 161px;
  font-size: 23px;
}
@media screen and (max-width: 600px) {
  .page2{
    height: 100vh;
    position: relative;
    display: grid;
  }
  .first-box .second-box .third-box{
    position: relative;
  }
  .first-box{
    top: 0;
  }
}
